body {
    background: linear-gradient(to right, #000046, #1cb5e0);
}

/* Estilos de formulario */
form {
  max-width: 300px;
  margin: 10px auto;
  text-align: center;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}
/* Estilos de input */
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Estilos de botón */
input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Estilos de botón al hacer hover */
input[type="submit"]:hover {
  background-color: #45a049;
}

select {
  width: 100%;
  height: 42px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
