body {
  background: linear-gradient(to right, #000046, #1cb5e0);  
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  background-color: #ffffffd8;
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd7b;
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}