{% extends "base.html" %}
{% block style %}<link rel="stylesheet" type="text/css" media="all" href="{{url_for("static", filename='css/style-form.css')}}">{% endblock %}
{% block title %}Formulario de plugins{% endblock %}
{% block body %}
<form method="post" action="/insertar">
  <h1>Registro De Actualizaciones</h1>
  <label for="server">Servidor:</label><br>
  <input type="text" id="server" name="server" required><br>
  <label for="plugin">Plugin:</label><br>
  <input type="text" id="plugin" name="plugin" required><br>
  <label for="version">Versión:</label><br>
  <input type="text" id="version" name="version" required><br>
  <label for="date">Fecha:</label><br>
  <input type="date" id="date" name="date" required><br>
  <label for="obsolete">Obsoleto: </label>
  <input type="checkbox" id="obsolete" name="obsolete"><br><br>
  <label for="obsolete">Premium: </label>
  <input type="checkbox" id="premium" name="premium"><br><br>
  <label for="obsolete">DB: </label>
  <input type="checkbox" id="db" name="db"><br><br>
  <input type="submit" value="Enviar">
  <p style="color: rgb(141, 22, 22)">{{errormesaje}}</p>
</form>
<form method="get" action="/query">
  <input type="submit" value="Ver Registro">
</form>
{% endblock %}
