{% extends "base.html" %}
{% block style %}<link rel="stylesheet" type="text/css" media="all" href="{{url_for("static", filename='css/style-query.css')}}">{% endblock %}
{% block title %}Registro De Actualizaciones{% endblock %}
{% block body %}
<table>
  <tr>
    <th>Servidor</th>
    <th>Plugin</th>
    <th>Versión</th>
    <th>Fecha</th>
    <th>Obsoleto</th>
    <th>Premium</th>
    <th>DB</th>
  </tr>
  {% for column in datos %}
    <tr>
      <td>{{ a[0] }}</td>
      <td>{{ a[1] }}</td>
      <td>{{ a[2] }}</td>
      <td>{{ a[3] }}</td>
      <td>{{ a[4] }}</td>
      <td>{{ a[5] }}</td>
      <td>{{ a[6] }}</td>
      <td>{{ a[7] }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
