{% extends "base.html" %}
{% block style %}<link rel="stylesheet" type="text/css" media="all" href="{{url_for("static", filename='css/style-query.css')}}">{% endblock %}
{% block title %}Registro De Actualizaciones{% endblock %}
{% block body %}
<table>
  <tr>
    <th><a href="/">Servidor</a></th>
    <th>Plugin</th>
    <th>Versión</th>
    <th>Fecha</th>
    <th>Obsoleto</th>
    <th>Premium</th>
    <th>DB</th>
  </tr>
  {% for column in datos %}
    <tr>
      <td>{{ column[0] }}</td>
      <td>{{ column[1] }}</td>
      <td>{{ column[2] }}</td>
      <td>{{ column[3] }}</td>
      <td>{{ column[4] }}</td>
      <td>{{ column[5] }}</td>
      <td>{{ column[6] }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
